* {
    box-sizing: border-box;
}

body {
    margin: auto;
    /* text-align: center; */
}

form {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vh;
}

.hidden {
    display: none;
}